body {
	margin: 0;
	overflow: hidden;
	cursor: none;
}
.head{
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    color: rgb(223, 6, 6);
    font-size: 50px;
    /* border: 1px solid black; */
}
.fire-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
}
.fire {
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #ff6600;
	animation: fireAnimation 1s ease-out;
}
@keyframes fireAnimation {
	to {
		transform: scale(3);
		opacity: 0;
	}
}
